---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #FC5D60;
    background-image: linear-gradient(120deg, #432C9D, #FC5D60);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #FC5D60;
}
